/Chapter01/EX1/nbproject/private/
/Chapter01/EX1/build/
/Chapter01/EX2/nbproject/private/
/Chapter01/EX2/build/
/Chapter01/PairDemo/nbproject/private/
/Chapter01/EX3/nbproject/private/
/Chapter01/PairDemo/build/
/Chapter01/EX4/nbproject/private/
/Chapter01/EX4/build/
/Chapter01/EX5/nbproject/private/
/Chapter01/EX5/build/
/Chapter01/EX7/nbproject/private/
